.App{
  text-align: center;
  width: 100%;
 
  
}
.selectDiv{
  width: 50%;
  border: 1px solid black;
  margin: auto;
  padding: 2rem;
  

  display: flex;
  justify-content: space-between;
  align-items: center;
}

select{
  font-size: 1.2rem;
  border: none;
}